.list {
  margin: 30px auto;
  width: fit-content;
}

.SortableList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.SortableItem {
  width: 150px;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  padding: 18px 20px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(34, 33, 81, 0.15);
  border-radius: 4px;
  box-sizing: border-box;
  list-style: none;
  color: #333;
  font-weight: 400;
  font-size: 1rem;
  font-family: sans-serif;
}
