@header-height: 55px;

html,
body {
	margin: 0;
	height: 100%;
}

#root {
	height: 100%;
	overflow: hidden;
}

.site-layout {
	height: calc(100vh - @header-height);
	min-width: 1000px;

	.site-layout-content {
		overflow: auto;
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
	}
}

.site-layout-header {
	padding: 0 40px;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	min-width: 1000px;
	height: @header-height;
	z-index: 99;
	border-bottom: 1px solid #eee;

	.left-area {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}

.site-layout-aside {
	position: sticky;
	top: @header-height;
	height: calc(100vh - @header-height);
	left: 0;

	.menu {
		overflow: auto;
		height: 100%;
	}
}
